.header
{
padding-bottom: 20px;
    margin-bottom: 32px;
    border-bottom: 1px solid #eee;
}
.pic{
text-align:center;
}
.main{
background-color: #f0ffff;}
.sidebar{
text-align:center;
}
.footer{
background-color:black;
text-align:center;
color: white;
}
#kchen{color:red}
.row {
    margin-bottom: 30px;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 25px;}
    .sidebar-module{
        padding: 16px;
    background-color: #f5f5f5;
        border-radius: 10px;
    }
